<div class="container my-5 min-vh-100">

  <button type="button" class="btn btn-primary mb-3" (click)="loadRating()">Load Rating</button>

  <div class="row">
    <div class="content col-9">

      <div class="d-flex justify-content-between"><h1> Products </h1>
        <app-sort [fields]="sortFields()" (sortChange)="onSortChange($event)"></app-sort>
      </div>


      <div class="d-flex flex-wrap">

        @for (product of products(); let rowIndex = $index; track product.id) {
          <div class="card m-2" style="width: 300px">
            <app-product-card [product]="product"></app-product-card>
          </div>
        }


      </div>
    </div>

    <div class="col-3 filters bg-body-tertiary p-3">
      <h4> Filters </h4>
      <app-filters (filtersChange)="onFilterChanged($event)"></app-filters>
    </div>
  </div>

</div>
