<div class="card shadow-lg border-0">
  <img [src]="store().imageUrl" alt="Pizza Store Cover" class="card-img-top img-fluid" />

  <div class="card-body p-4">
    <h2 class="card-title mb-3 text-primary">{{ store().name }}</h2>
    <p class="card-text fs-5 mb-3 text-muted">{{ store().description }}</p>
    <div class="d-flex align-items-center">
      <i class="fas fa-map-marker-alt text-primary me-2"></i>
      <p class="mb-0 fs-6 text-secondary">{{ store().address }}</p>
    </div>
  </div>
</div>
