
  <img [src]="pizza().imageUrl"  class="card-img-top" [alt]="pizza().name">


  <div class="card-body">
    <div class="d-flex align-items-center">
      <h5 class="card-title mb-0">{{ pizza().name }}</h5>
      <div class="ms-2">
        @for (i of [0, 1, 2, 3, 4, 5]; track i) {
          @if (i < pizza().hotness) {
            <span>🌶️</span>
          }
        }
      </div>
    </div>
    <h2 class="mt-2 text-success"> {{price()}} </h2>
    <p class="card-text">{{ pizza().description | pizzaDescription }}</p>
    @for (ingredient of pizza().ingredients; track ingredient) {
      <span class="badge bg-secondary me-1"> {{ ingredient }}</span>
    }
  </div>

