<div class="bg-gray-100">
  <div class="container py-5 ">
    <div class="d-flex align-items-center justify-content-between mb-4">
      <h3 class="mb-0"> Customer details </h3>
      <button class="btn btn-outline-secondary" (click)="goBack()">
        <i class="fas fa-arrow-left me-2"></i>Go Back
      </button>
    </div>

    @if (customerDetails(); as customerDetails) {
      <app-customer-edit [customerDetails]="customerDetails" (customerChanged)="onCustomerChanged($event)"></app-customer-edit>
    }
  </div>
</div>
