<div [style.background]="'rgb(57,62,62)'" id="footer">

  <div class="container p-4">
    <div class="row">
      <div class="col-12 col-md-8 p-5 text-white">
        <h1> About Us </h1>
        At MyPizza, we believe great pizza brings people together. Since day one, we've been serving up handcrafted pies
        made with fresh ingredients, homemade dough, and love in every slice. Whether you're a fan of the classics or
        craving something bold, we've got a pizza with your name on it. Fast, friendly, and always delicious — welcome
        to your new favorite pizza place!

      </div>
      <div class="col-12 col-md-4 p-5 text-white">
        <h1> Links </h1>

        <ul>
          <li><a href="#" class="text-white"> Contact </a></li>
          <li><a href="#" class="text-white"> Stores </a></li>
          <li><a href="#" class="text-white"> Maps </a></li>

        </ul>
      </div>
    </div>

  </div>
</div>
